@import "_constants";

.cards {
	flex: 1;
	padding: 3rem;
	display: flex;
	flex-direction: column;

	.date {
		font-size: small;
		font-weight: bold;
		line-height: 2rem;
	}

	.card {
		flex: 1;
	}
}

.card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: $drop_shadow_large;
	color: #666;
	position: relative;
	display: flex;
	flex-direction: column;

	.card-top {
		flex: 1;
	}

	.card-bottom {
		padding: 1rem;

		h1 {
			font-size: 3rem;
			font-weight: bold;
		}

		h2 {
			font-size: 2rem;
		}
	}
}