.menu {
	height: 3rem;
	text-align: center;
	padding: 0.5rem;

	.menu-title {
		line-height: 2rem;
		font-weight: bold;
	}

	.menu-left {
		float: left;
	}

	.menu-right {
		float: right;
	}

	&.menu-fixed-top {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
	}
}

.content.has-menu {
	padding-top: 3rem;
}

