@import "constants";

.page-content {
	transition: all $animation_duration $animation_easing;

	&.slide-down {
		transform: translateY(50px);
	}

	&.slide-left {
		transform: translateX(-50px);
	}

	&.slide-up {
		transform: translateY(-50px);
	}

	&.slide-right {
		transform: translateX(50px);
	}
}