@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: local('Quicksand'), url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: bold;
	src: local('Quicksand'), url('../fonts/Quicksand-Bold.ttf') format('truetype');
}

html {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
}