@import "constants";

.action-sheet {
	position: fixed;
	transition: transform $animation_duration $animation_easing;

	&.bottom {
		transform: translateY(100%);
		left: 0;
		right: 0;
		bottom: 0;

		&.active {
			transform: translateY(0);
		}
	}

	&.top {
		transform: translateY(-100%);
		left: 0;
		right: 0;
		top: 0;

		&.active {
			transform: translateY(0);
		}
	}

	&.left {
		transform: translateX(-100%);
		top: 0;
		bottom: 0;
		left: 0;
		max-width: 80%;

		&.active {
			transform: translateX(0);
		}
	}

	&.right {
		transform: translateX(100%);
		top: 0;
		bottom: 0;
		right: 0;
		max-width: 80%;

		&.active {
			transform: translateX(0);
		}
	}
}