@import "_action-sheets";
@import "_modal";
@import "_buttons";
@import "_page-content";
@import "_typography";

html, body {
	height: 100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

::-webkit-scrollbar { 
    display: none; 
}

// Fixes bottom scroll jump when translatingY
.overflow-hidden {
	overflow-y: hidden;
	min-height: 100%;
}