@import "_buttons";
@import "_typography";
@import "_menu";
@import "_lists";
@import "_cards";
@import "_progress-bars";

html, body {
	height: 100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background: linear-gradient(to bottom, #6D29BE, #FFAAA8);
	color: white;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

.hero {
	padding: 3rem 3rem 1rem;

	.profile {
		$width: 4rem;
		background-color: white;
		height: $width;
		width: $width;
		box-shadow: $drop_shadow;
		border-radius: $width / 2;
		margin-bottom: 2rem;
	}

	.title {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	.lead {
		margin-bottom: 1rem;
	}
}